-r requirements.txt
codecov==2.0.22
django-filter==2.2.0
django-guardian==2.2.0
django==3.0.7
flake8==3.8.1
graphene-django-optimizer==0.6.2
graphene-django==2.10.0
graphene==2.1.8
graphql-core<3.0.0
mock==4.0.2
pytest-cov==2.8.1
pytest-django==3.9.0
pytest-runner==5.2
pytest==5.4.2
sphinx-rtd-theme==0.4.3
sphinx==3.0.3
