-r requirements.txt
black==20.8b1
codecov==2.1.11
django-filter==2.4.0
django-guardian==2.3.0
django==3.1.8
flake8==3.8.4
graphene-django-optimizer==0.8.0
graphene-django==2.15.0
graphene==2.1.8
graphql-core<3.0.0
mock==4.0.3
pytest-cov==2.11.1
pytest-django==4.1.0
pytest-runner==5.3.0
pytest==6.2.2
sphinx-rtd-theme==0.5.1
sphinx==3.5.2
