-r requirements.txt
codecov==2.0.15
django-filter==2.2.0
django-guardian==2.2.0
django==3.0.3
flake8==3.7.9
graphene-django-optimizer==0.6.1
graphene-django==2.8.1
graphene==2.1.8
graphql-core==2.2.1
mock==4.0.1
pytest-cov==2.8.1
pytest-django==3.8.0
pytest-runner==5.2
pytest==5.3.5
sphinx-rtd-theme==0.4.3
sphinx==2.4.1
